.header__container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.border-line {
  border-bottom: 1px solid #ececec;
}

.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--logo-web-color);
}

.menu {
  display: flex;
  gap: 50px;
  &.current {
    color: var(--accent-color);
  }
}

.menu__item {
  display: block;
  position: relative;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-list-color);
  justify-content: center;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.current {
    color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1%;
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.header__conect {
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}

.conect__item {
  display: block;
  position: relative;
}

.conect__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraf-tex-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.conect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--paragraf-tex-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}


